#tagi {

  }
  
  .st0 {
    font-size: 68px;
  }
  
  .st1 {
    font-size: 27px;
  }
  
  .st2 {
    font-size: 82px;
  }
  
  .st3 {
    font-size: 41px;
  }
  
  .st4 {
    font-size: 41px;
  }
  
  .st5 {
    fill: #414040;
  }
  
  .st6 {
    font-size: 24px;
  }
  
  .st7 {
    font-size: 24px;
  }
  
  .st8 {
    font-size: 62px;
  }
  
  .st9 {
    font-size: 86px;
  }
  
  .st10 {
    font-size: 18px;
  }
  
  .st11 {
    font-size: 18px;
  }
  
  .st12 {
    font-size: 25px;
  }
  
  .st13 {
    font-size: 25px;
  }
  
  .st14 {
    font-size: 25px;
  }
  
  .st15 {
    font-size: 32px;
  }
  
  .st16 {
    font-size: 32px;
  }
  
  .st17 {
    font-family: 'Open Sans';
    font-weight: 600;
    fill: #505050;
  }
  
  .st18 {
    font-size: 22px;
  }
  
  .st19 {
    font-size: 22px;
  }
  
  .st20 {
    font-size: 36px;
  }
  
  .st21 {
    font-size: 19px;
  }
  
  .st22 {
    font-size: 51px;
  }
  
  .st23 {
    font-size: 26px;
  }
  
  .st24 {
    font-size: 33px;
  }
  
  .st25 {
    font-size: 20px;
  }
  
  .st26 {
    font-size: 23px;
  }
  
  .st27 {
    font-size: 23px;
  }
  
  .st28 {
    font-family: 'Open Sans';
  }
  
  .st29 {
    font-size: 54px;
  }
  
  .st30 {
    font-size: 20px;
  }
  
  .st31 {
    font-size: 37px;
  }