<html>
    
    <head>
        <title>Where Geng</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Noto+Serif+TC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="http://www.youtube.com/player_api"></script>
    </head>

    <body>

        <header>


            <div class='container'>

                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="img/brand.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://littlecube2019.github.io/sp/index.html">Record</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Member</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" >模型 | 方 文忠</a>
                                    <a class="dropdown-item" >前端 | 柳 宇澤</a>
                                    <a class="dropdown-item" >後端 | 黃 湛元</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" >指導 | 蔡 銘峰 教授</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Test Page</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>

            </div>


        </header>


        <sectiopn id='intro'>


            <div class='jumbotron'>

                <div class='container'>

                    <div class='row'>
                        <div class='col-md-12'>
                            <h1>找出你最想要看到的 '梗'</h1>
                            <p>今天沒什麼時間？就別自己翻影片了！交給我們吧！</p>
                        </div>
                    </div>

                </div>

            </div>


        </sectiopn>


        <section id='demo' class="vue_demo">

                <div class="container">

                    <div class="row">

                        <div class="col-md-8 offset-md-2 text-center">
                            <h2 class="lead"><span class="badge badge-primary">Youtube</span> 影片</h2>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">保留1</button>
                                <button type="button" class="btn btn-secondary">保留2</button>
                                <button type="button" class="btn btn-secondary">保留3</button>
                            </div>
                        </div>

                    </div>

                            
                    <div class="container">
                        
                        <div v-for="(channel, index) in items">
                            <div class="row" v-for="pair in chunkedVideosArr[index]">

                                <div class="col-md-6" v-for="vid in pair">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="row">
                                                <h5 class="card-title">{{{vid.vid}}}</h5>                                   
                                            </div>

                                            <!-- <p class="card-text"></p> -->

                                            <div class="row like-ratio">
                                                <div class="col-md-3 text-center">
                                                    <a>討論聲量</a>
                                                </div>

                                                <div class="col-md-9">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" :style="'width:'+vid.positive_rate*100+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="embed-responsive embed-responsive-21by9">
                                                        <iframe :onload="'player'+vid.vid+'=new YT.Player(this)'" class="embed-responsive-item vid" width="100%" object-fit="cover" :src="'https://www.youtube.com/embed/'+vid.vid+'?enablejsapi=1'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="accordion" :id="'accordionExample'+vid.vid">

                                                        <div class="card">
                                                          <div class="card-header" id="headingOne">
                                                            <h2 class="mb-0">
                                                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                                梗在這呢 ...
                                                              </button>
                                                            </h2>
                                                          </div>
                                                      
                                                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" :data-parent="'#accordionExample'+vid.vid">
                                                            <div class="card-body">
                                                                <ul class="list-group list-group-horizontal-sm">
                                                                    <buttom type="button" class="list-group-item list-group-item-action text-center" :onclick="'player'+vid.vid+'.seekTo('+vid.gengs[0].time+'-3, true)'">{{{vid.gengs[0].name}}}<!--: {{{vid.gengs[0].time-3}}}--></buttom>
                                                                    <buttom type="button" class="list-group-item list-group-item-action text-center" :onclick="'player'+vid.vid+'.seekTo('+vid.gengs[1].time+'-3, true)'">{{{vid.gengs[1].name}}}<!--: {{{vid.gengs[1].time-3}}}--></buttom>
                                                                    <buttom type="button" class="list-group-item list-group-item-action text-center" :onclick="'player'+vid.vid+'.seekTo('+vid.gengs[2].time+'-3, true)'">{{{vid.gengs[2].name}}}<!--: {{{vid.gengs[2].time-3}}}--></buttom>
                                                                </ul>
                                                            </div>
                                                          </div>
                                                        </div>

                                                        <div class="card">
                                                          <div class="card-header" id="headingTwo">
                                                            <h2 class="mb-0">
                                                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                大家都說 ...
                                                              </button>
                                                            </h2>
                                                          </div>
                                                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" :data-parent="'#accordionExample'+vid.vid">
                                                            <div class="card-body">
                                                                <img src="img/cloud_test.png" class="img-fluid" alt="Responsive image">
                                                            </div>
                                                          </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <a :href="'https://www.youtube.com/channel/'+channel.cid" class="btn btn-primary">Go to Channel</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        
                    </div>

                        
                </div>


        </section>


        <footer>
            
            
	        <div class="container" >
		        <div class='row'>
					  <div class='col-md-4 text-left'>
						  <img src='img/brand.png'>
					  </div>
					  <div class='col-md-4 text-left'>
						  <h4>連結</h4>
						  <ul>
					      	<li><a href='main_page.html'>主頁</a></li>
					      	<li><a href='https://littlecube2019.github.io/sp/index.html'>施工紀錄</a></li>
						  </ul>
						  <ul>
					      	<li><a href=''>版本</a></li>
					      	<li><a href=''>v 4.0.0</a></li>
						  </ul>						  
					  </div>
					  <div class='col-md-4 text-left'>
						  <h4>聯絡我們</h4>
						  <p>台北市文山區指南路二段64號 資訊科學系<br>
							 Phone: (886) 452-9889<br>
							 E-Mail: <a href='mailto:xxx@gmail.com'>xxx@gmail.com</a>
					      </p>
					  </div>
		        </div>
	        </div>	        
        

        </footer>


        <script type="text/javascript" src="js/vue-app.js"></script>
    </body>


</html>